<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/Meditate" version="1.0.0" viewmodes="maximized">
    <tizen:application id="VUsqea13Go.Meditate" package="VUsqea13Go" required_version="2.3.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Meditate</name>
    <tizen:profile name="wearable"/>
</widget>
